
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title> Shrihith A </title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/shri.jpg' %}" >
					<hr>
					<h4>Hi I'm Shrihith A !</h4>
					<p>I love coding, doing research and collaborating</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>My First job as a Microbiologist to transformation of Bioinformatician to coder </h4>
					<hr>
					<p>I'm  a Microbiologist having 2 years of experience  in start of my carreer and had transformation by doing PG diploma in Bioinformatics and big data analysis course.  </p>

					<p>Bioinformatics thaught me the information of programming and syntax which leaded me to programming field. </p>

					<p>From this you’ll see that I’m someone that jumps before I can talk myself out of doing something scary.</p>

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/youtube.png' %}"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience in a projects</h5>
					<hr>
					<p>I have written program in Python  GUI quiz game using tkinter</p>
					<p>I have written programm in python for Race game using Turtle modle</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python,pandas,numpy, Django, R, Data analysis, Data visualization, Next generation sequencing, Transcriptomic analysis, Alignments and a whole bunch more I can’t possibly mention in one sentence! ;)</p>
					<p>PS: Learning: Artificial inteligence and Machine Learning.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Reverse Engineer & Build Ugly Prototypes First.</p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>I love coding, now take a good job and teach what you learn to others in a better way</p>
				<p>A side from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>